*{
    margin:0;
    font-family: Arial;
    border:border-box;
}

.navbar{
    height: 85px;
    width: 100%;
    background-color: #ffd166;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 40px 10px 40px;
}

.logo{
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 10%;
}

.nav-elements{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.nav-elements p{
    margin-left: 20px;
}