* {
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #415a77;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px 10px 40px;
}

.logo {
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 45%;
    min-height: 50px; /* prevent collapse */
}

.nav-elements {
    display: flex;
    margin-right: 60px;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

.nav-buttons p {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid transparent; /* Add transparent border by default */
    padding: 5px; /* Add padding for better visual */
}

.nav-buttons p:hover {
    border-color: #1b263b; /* Change border color on hover */
}

.nav-search {
    display: flex;
    align-items: center;
    height: 20px;
}

.nav-search input {
    border-right: 0px;
    font-family: 'Poppins', sans-serif;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 25px;
}

.search-nav-button {
    text-align: center;
    height: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-cart, .nav-profile-logo {
    padding: 5px; /* Add padding for better visual */
    border: 2px solid transparent; /* Add transparent border by default */
}

.nav-cart:hover, .nav-profile-logo:hover {
    border-color: #1b263b; /* Change border color on hover */
}

.ad{
    background-color: #778da9;
    height:30px;
    text-align: center;
    padding-top: 5px;
    font-family: 'Anton', sans-serif;}

.slider-container {
    margin-left: 30px;
    width: 95%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-block{
    height: 345px;
    background-color: #415a77;
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

.footer-top{
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    margin-bottom: 90px;
}

.footer-item{
    height: 154.85px;
    width: 231.9px;
    display: grid;
    row-gap: 10px;
}

.footer-item span{
    font-family: 'Montserrat', sans-serif;
}

.footer-item h5{
    font-family: 'Poppins', sans-serif;
}

.footer-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-bottom{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.copyright-bar{
    border: 1px solid #60799b;
}

.Copyrights{
    font-family: 'Poppins', sans-serif;
}